<div class="weather-container">
    <h2>Current Weather</h2>  
    <div class="current-weather-container">
        <div class="current-weather">
            <h4>{{weather.name}}</h4>
            <div style="display: flex;">
                <div class="weather-icon">
                    <img src="{{weather.weather[0].icon}}" alt="{{weather.weather[0].main}}">
                </div>
                <span>
                    <div class="temperature">
                        {{weather.main.temp | number: '1.0-0'}}<sup>&deg;</sup>
                    </div>
                </span>
            </div>
            <h6>{{weather.weather[0].main}}</h6>
        </div>
        <hr/>
        <div class="current-weather-info">
            <div class="feels-like">
                Feels like {{weather.main.feels_like | number: '1.0-0'}}<sup>&deg;</sup>
            </div>
            <div class="high-low-container">
                <div class="weather-degree">
                    <div class="high-icon">
                        <img src="../../assets/high-icon.svg">
                    </div>
                        {{weather.main.temp_max | number: '1.0-0'}}<sup>&deg;</sup>
                </div>
                <div class="weather-degree">
                    <div class="low-icon">
                        <img src="../../assets/low-icon.svg">
                    </div>
                        {{weather.main.temp_min | number: '1.0-0'}}<sup>&deg;</sup>
                </div>
            </div>

            <div class="info-row">
                <img src="../../assets/humidity-icon.svg">
                <p>Humidity</p>
                <span>{{weather.main.humidity}} %</span>
            </div>
            <div class="info-row">
                <img src="../../assets/wind-icon.svg">
                <p>Wind</p>
                <span>{{weather.wind.speed}} m/s</span>
            </div>
            <div class="info-row">
                <img src="../../assets/pressure-icon.svg">
                <p>Pressure</p>
                <span>{{weather.main.pressure}} hPa</span>
            </div>
        </div>
    </div>
</div>

